transformers
peft
pandas
evaluate
simple-parsing
torch
torchvision
eva-decord
accelerate
scikit-learn
wandb==0.17.4
pose-format
torchsummary
mediapipe<0.10.30
opencv-python
onnxruntime
onnx
imageio
tk
timm
einops
thop